<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MediRecords</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Session</display-name>
    <servlet-name>Session</servlet-name>
    <servlet-class>controllers.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient</display-name>
    <servlet-name>Patient</servlet-name>
    <servlet-class>controllers.Patient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient</servlet-name>
    <url-pattern>/Patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor</display-name>
    <servlet-name>Doctor</servlet-name>
    <servlet-class>controllers.Doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor</servlet-name>
    <url-pattern>/Doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insurance</display-name>
    <servlet-name>Insurance</servlet-name>
    <servlet-class>controllers.Insurance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insurance</servlet-name>
    <url-pattern>/Insurance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRecords</display-name>
    <servlet-name>PatientRecords</servlet-name>
    <servlet-class>controllers.PatientRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRecords</servlet-name>
    <url-pattern>/PatientRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRecords</display-name>
    <servlet-name>DoctorRecords</servlet-name>
    <servlet-class>controllers.DoctorRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRecords</servlet-name>
    <url-pattern>/DoctorRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRecordNew</display-name>
    <servlet-name>DoctorRecordNew</servlet-name>
    <servlet-class>controllers.DoctorRecordNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRecordNew</servlet-name>
    <url-pattern>/DoctorRecordNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientProfile</display-name>
    <servlet-name>PatientProfile</servlet-name>
    <servlet-class>controllers.PatientProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientProfile</servlet-name>
    <url-pattern>/PatientProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorProfile</display-name>
    <servlet-name>DoctorProfile</servlet-name>
    <servlet-class>controllers.DoctorProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorProfile</servlet-name>
    <url-pattern>/DoctorProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorNetwork</display-name>
    <servlet-name>DoctorNetwork</servlet-name>
    <servlet-class>controllers.DoctorNetwork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorNetwork</servlet-name>
    <url-pattern>/DoctorNetwork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsuranceNetwork</display-name>
    <servlet-name>InsuranceNetwork</servlet-name>
    <servlet-class>controllers.InsuranceNetwork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsuranceNetwork</servlet-name>
    <url-pattern>/InsuranceNetwork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsurancePatients</display-name>
    <servlet-name>InsurancePatients</servlet-name>
    <servlet-class>controllers.InsurancePatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsurancePatients</servlet-name>
    <url-pattern>/InsurancePatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsuranceRecords</display-name>
    <servlet-name>InsuranceRecords</servlet-name>
    <servlet-class>controllers.InsuranceRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsuranceRecords</servlet-name>
    <url-pattern>/InsuranceRecords</url-pattern>
  </servlet-mapping>
</web-app>